package errs

import (
	"net/http"

	"github.com/lpphub/gost/httpx"
)

var (
	ErrServerError = httpx.NewErrorWithStatus(500, "server internal error", http.StatusInternalServerError)

	ErrNoToken      = httpx.NewErrorWithStatus(1000, "no token", http.StatusUnauthorized)
	ErrInvalidToken = httpx.NewErrorWithStatus(1001, "invalid token", http.StatusUnauthorized)
	ErrInvalidParam = httpx.NewError(1100, "invalid param")

	ErrUserExists      = httpx.NewError(2101, "user already exists")
	ErrUserNotFound    = httpx.NewError(2102, "user not found")
	ErrInvalidPassword = httpx.NewError(2103, "invalid password")
	ErrLoginFailed     = httpx.NewError(2104, "login failed")
	ErrUserDisabled    = httpx.NewError(2105, "user is disabled")

	ErrPostNotFound = httpx.NewError(2201, "post not found")
)