package repository

import (
	"context"

	"{{.ModuleName}}/types/models"

	"github.com/lpphub/goweb/ext/dbx"
	"gorm.io/gorm"
)

type UserRepo struct {
	*dbx.BaseRepo[models.User]
}

func NewUserRepo(db *gorm.DB) *UserRepo {
	return &UserRepo{
		BaseRepo: dbx.NewBaseRepo[models.User](db),
	}
}

func (r *UserRepo) FindAll(ctx context.Context, page, pageSize int) ([]models.User, int64, error) {
	var items []models.User
	var total int64

	db := r.DB().WithContext(ctx).Model(&models.User{})
	if err := db.Count(&total).Error; err != nil {
		return nil, 0, err
	}

	offset := (page - 1) * pageSize
	if err := db.Order("id DESC").Offset(offset).Limit(pageSize).Find(&items).Error; err != nil {
		return nil, 0, err
	}

	return items, total, nil
}

func (r *UserRepo) FindByEmail(ctx context.Context, email string) (*models.User, error) {
	var user models.User
	err := r.DB().WithContext(ctx).Where("email = ?", email).First(&user).Error
	if err != nil {
		return nil, err
	}
	return &user, nil
}
