package logx

import (
	"os"
	"time"

	"{{.ModuleName}}/infra/logger/logx"

	"github.com/gin-gonic/gin"
	"github.com/sirupsen/logrus"
)

var Logger *logrus.Logger

type Fields = logrus.Fields

func Init() {
	Logger = logrus.New()
	
	// Set output
	Logger.SetOutput(os.Stdout)
	
	// Set format
	Logger.SetFormatter(&logrus.JSONFormatter{
		TimestampFormat: time.RFC3339,
	})
	
	// Set level
	Logger.SetLevel(logrus.InfoLevel)
	
	Logger.Info("Logger initialized")
}

func Info(msg string, fields ...Fields) {
	if len(fields) > 0 {
		Logger.WithFields(fields[0]).Info(msg)
	} else {
		Logger.Info(msg)
	}
}

func Debug(msg string, fields ...Fields) {
	if len(fields) > 0 {
		Logger.WithFields(fields[0]).Debug(msg)
	} else {
		Logger.Debug(msg)
	}
}

func Warn(msg string, fields ...Fields) {
	if len(fields) > 0 {
		Logger.WithFields(fields[0]).Warn(msg)
	} else {
		Logger.Warn(msg)
	}
}

func Error(err error) Fields {
	return Fields{
		"error": err.Error(),
	}
}

func ErrorWithMsg(msg string, err error, fields ...Fields) {
	allFields := Fields{
		"error": err.Error(),
	}
	if len(fields) > 0 {
		for k, v := range fields[0] {
			allFields[k] = v
		}
	}
	Logger.WithFields(allFields).Error(msg)
}

func Panic(msg string, fields ...Fields) {
	if len(fields) > 0 {
		Logger.WithFields(fields[0]).Panic(msg)
	} else {
		Logger.Panic(msg)
	}
}

func Fatal(msg string, fields ...Fields) {
	if len(fields) > 0 {
		Logger.WithFields(fields[0]).Fatal(msg)
	} else {
		Logger.Fatal(msg)
	}
}

// Gin middleware
func GinLogMiddleware() gin.HandlerFunc {
	return func(c *gin.Context) {
		start := time.Now()
		path := c.Request.URL.Path
		raw := c.Request.URL.RawQuery
		
		// Process request
		c.Next()
		
		// Log request
		latency := time.Since(start)
		clientIP := c.ClientIP()
		method := c.Request.Method
		statusCode := c.Writer.Status()
		
		if raw != "" {
			path = path + "?" + raw
		}
		
		Logger.WithFields(Fields{
			"status_code": statusCode,
			"latency":     latency,
			"client_ip":   clientIP,
			"method":      method,
			"path":        path,
		}).Info("HTTP Request")
	}
}