// module/auth/init.go
package auth

import (
	"github.com/gin-gonic/gin"
	"{{.ModuleName}}/contract"
	"{{.ModuleName}}/shared/mod"
)

var _ mod.Module = (*Module)(nil)

type Module struct {
	Service *Service
	handler *Handler
}

func Init(userSvc contract.UserBiz) *Module {
	svc := NewService(userSvc)
	h := NewHandler(svc)

	return &Module{
		Service: svc,
		handler: h,
	}
}

func (m *Module) RegisterRoutes(r *gin.RouterGroup) {
	m.handler.Routes(r)
}