package infra

import (
	"github.com/lpphub/goweb/ext/config"
)

type DBConfig struct {
	Host     string
	Port     int
	User     string
	Password string
	Dbname   string
}

type RedisConfig struct {
	Host     string
	Port     int
	Password string
	DB       int
}

type JWTConfig struct {
	Secret            string
	ExpireTime        int64 // access_token 过期时间（秒）
	RefreshExpireTime int64 // refresh_token 过期时间（秒）
}

type ServerConfig struct {
	Port int
	Mode string // debug, release, test
}

type Config struct {
	Database DBConfig
	Redis    RedisConfig
	JWT      JWTConfig
	Server   ServerConfig
}

func LoadConfig() (*Config, error) {
	return config.Load[Config]("./config", "config", "yml")
}