//go:build wireinject
// +build wireinject

//go:generate wire
package logic

import (
	"{{.ModuleName}}/infra"
	"{{.ModuleName}}/logic/auth"
	"{{.ModuleName}}/logic/user"

	"github.com/google/wire"
)

type AppService struct {
	Auth *auth.Service
	User *user.Service
}

var svcSet = wire.NewSet(
	user.NewService,
	auth.NewService,
)

var providerSet = wire.NewSet(
	infra.ProvideDB,
	infra.ProvideRDB,
)

var repoSet = wire.NewSet(
	user.NewUserRepo,
)

func initialize() *AppService {
	wire.Build(providerSet, repoSet, svcSet, wire.Struct(new(AppService), "*"))
	return nil
}
