// modules/{{.ModuleName}}/dto.go
package {{.ModuleName}}

import "time"

type Create{{.StructName}}Req struct {
	Title   string `json:"title" binding:"required"`
	Content string `json:"content"`
}

type Update{{.StructName}}Req struct {
	Title   string `json:"title"`
	Content string `json:"content"`
	Status  *int8  `json:"status"`
}

type {{.StructName}}Resp struct {
	ID        uint      `json:"id"`
	Title     string    `json:"title"`
	Content   string    `json:"content"`
	Status    int8      `json:"status"`
	CreatedAt time.Time `json:"createdAt"`
	UpdatedAt time.Time `json:"updatedAt"`
}
