// module/{{.ModuleName}}/repository.go
package {{.ModuleName}}

import (
	"context"

	"github.com/lpphub/goweb/ext/dbx"
	"gorm.io/gorm"
)

type Repository struct {
	*dbx.BaseRepo[{{.StructName}}]
}

func NewRepository(db *gorm.DB) *Repository {
	return &Repository{
		BaseRepo: dbx.NewBaseRepo[{{.StructName}}](db),
	}
}

func (r *Repository) FindAll(ctx context.Context, page, pageSize int) ([]{{.StructName}}, int64, error) {
	var items []{{.StructName}}
	var total int64

	db := r.DB().WithContext(ctx).Model(&{{.StructName}}{})
	if err := db.Count(&total).Error; err != nil {
		return nil, 0, err
	}

	offset := (page - 1) * pageSize
	if err := db.Order("id DESC").Offset(offset).Limit(pageSize).Find(&items).Error; err != nil {
		return nil, 0, err
	}

	return items, total, nil
}
