// modules/{{.ModuleName}}/repo.go
package {{.ModuleName}}

import (
	"context"

	"github.com/lpphub/goweb/ext/dbx"
	"gorm.io/gorm"
)

type Repo struct {
	*dbx.BaseRepo[{{.StructName}}]
}

func NewRepo(db *gorm.DB) *Repo {
	return &Repo{
		BaseRepo: dbx.NewBaseRepo[{{.StructName}}](db),
	}
}

func (r *Repo) FindAll(ctx context.Context, page, pageSize int) ([]{{.StructName}}, int64, error) {
	var items []{{.StructName}}
	var total int64

	db := r.DB().WithContext(ctx).Model(&{{.StructName}}{})
	if err := db.Count(&total).Error; err != nil {
		return nil, 0, err
	}

	offset := (page - 1) * pageSize
	if err := db.Order("id DESC").Offset(offset).Limit(pageSize).Find(&items).Error; err != nil {
		return nil, 0, err
	}

	return items, total, nil
}